.container__menu-title{
   color: #fff;
}

.container__menu-title > h1{
   margin: 15px 0;
   font-size: 130px;
   font-family: 'segoe ui', sans-serif;
   display: flex;
   justify-content: center;
}

.container__menu-title > hr{
   margin-top: 20px;
   margin-bottom: 5px;
   
}