.container__small-card{
   margin-bottom: 15px;
   width: 700px;
}

.container__small-card-content{
   display: flex;
   flex-direction: row;
}

.small-card__photo > img{
   width: 200px;
   min-width: 200px;
   margin-right: 20px;
}

.small-card__content{
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.small-card__title{
   
   font-size: 10px;
}

.container__small-card__separator > hr{
   margin-top: 10px;
}