<header>
   <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
   
   <div class="articles__main">
      <app-big-card 
         photoCover="https://m.media-amazon.com/images/S/pv-target-images/6abe2bf8f2376da1c5f5f29cdbce25aa58bf985456e2c4f0ff78d7e2ed8730b6._SX1080_FMjpg_.jpg"
         cardTitle="NOVO HOMEM DE FERRO ANUNCIADO"
         cardDescription="Marvel Studios anuncia novo filme do homem de ferro">
      </app-big-card>
   </div><!--articles__main-->

   <div class="articles__others">

      <app-small-card 
      photoCover="https://upload.wikimedia.org/wikipedia/commons/3/38/Stranger_Things_logo.png"
      cardTitle="NOVA TEMPORADA DA SERIE ANUNCIADA">
      </app-small-card>

      <app-small-card 
      photoCover="https://c.files.bbci.co.uk/D1A2/production/_113566635_netflix02.jpg"
      cardTitle="NOVA TEMPORADA DA SERIE ANUNCIADA">
      </app-small-card>

      <app-small-card 
      photoCover="https://upload.wikimedia.org/wikipedia/commons/3/38/Stranger_Things_logo.png"
      cardTitle="NOVA TEMPORADA DA SERIE ANUNCIADA">
      </app-small-card>

   </div><!--articles__others-->

</div><!--container__articles-->